.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')
        i.fa.fa-cube
        | IITbaba
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li(class=(title == 'Home') ? 'active' : undefined)
          a(href='/') Home
        li(class=(title == 'Contact') ? 'active' : undefined)
          a(href='/contact') Contact
    
      ul.nav.navbar-nav.navbar-right
        if user
          
          li.search
            form.navbar-form(role='search', method='get', action='/search')
              input#srch-term.form-control(placeholder='Search', name='box', type='text')
          
          li.dropdown.notifications
            
            a.dropdown-toggle(href='#', data-toggle='dropdown' onclick='$("#unseen_notifictions").html("");$.post("/notifications/seen");')
                i.material-icons(style='font-size:14px') notifications
                if navbarItems.notifications.unseen
                  span.badge#unseen_notifictions=navbarItems.notifications.unseen
            
            ul.dropdown-menu
              - for(var n=0; n<navbarItems.notifications.notifications.length; n++)
                li
                  a(href=navbarItems.notifications.notifications[n].link, id=navbarItems.notifications.notifications[n].id, onclick='$.post("/notification/clicked", {notification_id : this.id});')=navbarItems.notifications.notifications[n].notification
                li.divider
              li
                a(href='/notifications') See All Notifications
    
          li.dropdown.requests
            a.dropdown-toggle(href='#', data-toggle='dropdown' onclick='$("#unseen_requests").html("");$.post("/notifications/seen");')
                i.material-icons(style='font-size:14px') group
                if navbarItems.requests.unseen
                  span.badge#unseen_requests=navbarItems.requests.unseen

          li.dropdown(class=(title == 'Account Management') ? 'active' : undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              if user.profile.profile_picture
                img(src='https://gymkhana.iitb.ac.in'+user.profile.profile_picture)
              else
                img(src=user.gravatar(60))
              span= user.profile.fisrt_name
              i.caret
            ul.dropdown-menu
              li
                a(href='/account') My Account
              li.divider
              li
                a(href='/predict') Predict
              li.divider
              li
                a(href='/search?page=0') Search
              li.divider
              li
                a(href='/logout') Logout
              
        else
          li.sso
            a(href='/auth/iitbsso') Register
          li.login
            a(href='/login') Login