//
            a.dropdown-toggle.electric-blue-text-color#notification-icon(href='#notifications', data-toggle='dropdown')
              span.number-label#notification-label=navbarItems.notifications.unseen?navbarItems.notifications.unseen:null
              i.nav-icon.fa.fa-globe
              span.nav-icon-text Notifications
            .dropdown-menu.notification-dropdown
              - for(var n=0; n<navbarItems.notifications.notifications.length; n++)
                a.dropdown-item.notification(href='/profile/'+navbarItems.notifications.notifications[n].from)
                  img.notification-img(src='/images/profile/'+navbarItems.notifications.notifications[n].from+'.png') 
                  .notifiaction-content
                      .notifiaction-text=navbarItems.notifications.notifications[n].notification
                      if navbarItems.notifications.notifications[n].salary.new
                        .notifiaction-salary-stats(style="color:"+navbarItems.notifications.notifications[n].salary.color+";")
                          span.notifiaction-salary=navbarItems.notifications.notifications[n].salary.new+" "
                          span.notifiaction-change=navbarItems.notifications.notifications[n].salary.change+" "
                          span.notifiaction-change-icon
                            if navbarItems.notifications.notifications[n].salary.change>0
                              i.fa.fa-arrow-circle-up
                            else
                              i.fa.fa-arrow-circle-down
                          span.notifiaction-percentage=" "+navbarItems.notifications.notifications[n].salary.percent+"%"            
                      .notifiaction-from=navbarItems.notifications.notifications[n].from
                      .notification-time=navbarItems.notifications.notifications[n].time
                .dropdown-divider
              .more-notifications
                a.dropdown-item#allow-push(href='#')

          //
            li.requests#request-toggle
              a.dropdown-toggle.electric-blue-text-color(href='#requests', data-toggle='dropdown')
                span.number-label=navbarItems.requests.unseen?navbarItems.requests.unseen:null
                i.nav-icon.fa.fa-group
                span.nav-icon-text Requests
              .dropdown-menu.request-dropdown
                - for(var n=0; n<navbarItems.requests.requests.length; n++)                                
                  a.dropdown-item.request(href='#') 
                    img.request-img(src='/images/profile/'+navbarItems.requests.requests[n].from+'.png') 
                    .request-content
                        .request-from=navbarItems.requests.requests[n].from
                        .request-from-detail=navbarItems.requests.requests[n].from
                    .request-action
                        button.request-accept Accept
                        button.request-reject Reject
                  .dropdown-divider
                .more-requests
                  a.dropdown-item(href='#') MORE REQUESTS


                  script.
      $('#notification-icon').click(function(){
        $('#notification-label').text(null);
        $.post("/notification",{action:"see"});
      });