extends layout

block content
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js')
  .container.profile
    .row.profile
        .col-lg-3.col-sm-12.profile
            .card.profile
                img.profile(src='/images/profile/'+userp.ldap+'.png')
                if predicted
                    p.salary-shown='₹ '+salary+' '
                      span.unit lakh/yr
                      if user.ldap != userp.ldap
                        form#prediction(method='POST')
                            input(type='hidden', name='_csrf', value=_csrf)
                            input(type='hidden', name='mid', value=userp.mid)
                            input(type='hidden', name='repredict', value="true")                        
                            .input-icon
                                i ₹
                                input.salary.profile(type='number', maxlength='4', step="0.01", name='salary', id='salary', autofocus, required)
                            p
                                input.submit-salary(type='submit', value='REPREDICT')
                else
                    form#prediction(method='POST')
                        input(type='hidden', name='_csrf', value=_csrf)
                        input(type='hidden', name='mid', value=userp.mid)
                        input(type='hidden', name='repredict', value=false)                                                
                        .input-icon
                            i ₹
                            input.salary.profile(type='number', maxlength='4', step="0.01", name='salary', id='salary', autofocus, required)
                        p
                            input.submit-salary(type='submit', value='PREDICT')
        .col-lg-4.col-sm-12.profile.col-info
            .card
                h1.profile.name.info-title=userp.first_name+" "+userp.last_name
                p.profile.known=userp.known
                p.profile.department=userp.profile.program.degree+" "+userp.profile.program.department_name+" "+userp.profile.program.join_year
                p.profile.hostel=userp.profile.insti_address.hostel_name+" | Room "+userp.profile.insti_address.room
                p.profile.hobbies=userp.hobbies
                p.profile.skills=userp.skills
                div(style='margin: 20px 0;')
                    a.profile(href='#')
                        i.fa.fa-twitter
                    a.profile(href='#')
                        i.fa.fa-linkedin
                    a.profile(href='#')
                        i.fa.fa-facebook
        .col-lg-3.col-sm-12.profile
            .card.relationship
                .card.title 
                    h1 Relationship
                .card.content
                    p.relationship#rel-display=relationship
                    div.collapse.relationship-update#relationship    
                        form#rel(action='/request', method='post')
                            input(type='hidden', name='ldap', value=userp.ldap)
                            .relationship-picker
                                select.selectpicker(data-live-search='true', multiple, name='relationship')
                                    
                                    optgroup(label="Time", data-max-options="1") 
                                        option Ex
                                    optgroup(label="Surperlative", data-max-options="1") 
                                        option Best
                                    optgroup(label="Locus", data-max-options="1") 
                                        option Roommate
                                        option Wingmate
                                        option Inmate
                                    optgroup(label="Psyche", data-max-options="1") 
                                        option Friend                                    
                                        option Girlfriend
                                        option Boyfriend
                                        option Crush
                                    optgroup(label="Intellect", data-max-options="1") 
                                        option Classmate
                                        option Batchmate
                                        option Teammate
                                        
                                    
                        p &nbsp;
                    p
                        button.profile#update(data-toggle="collapse",data-target="#relationship",state='update') UPDATE
                    
                           
                    
    script.
      const ldp1 = !{JSON.stringify(userp.ldap).replace(/<\//g, '<\\/')};
      const sal = !{JSON.stringify(salary).replace(/<\//g, '<\\/')};
      const id = !{JSON.stringify(requestReceived).replace(/<\//g, '<\\/')};

      $('#rel').on('submit', function(e) {
        e.preventDefault();
        console.log("prevented");
        $.post("/request", $(this).serialize()).done(function( data ) {
            $('#rel-display').text(data);
            console.log(data);
        });
      });

      $("#update").click(function() {
        console.log(this.id);
        console.log($(this).attr("state"));
        if($(this).attr("state")=='update'){
            $(this).text("SAVE");
            $(this).attr("state", 'save');
            return 0;
        }
        if($(this).attr("state")=='save'){
            $('#rel').submit();
            $(this).text("UPDATE");
            $(this).attr("state", 'update');
            return 0;
        }
        
      });

      $("#deleteRequest").click(function() {
        console.log(this.id);      
        console.log("delete request");
        $.post("/request", {action:"delete" , ldap: ldp1}).done(function( data ) {
            $("#deleteRequest").attr("id", "sendRequest");
            $("#sendRequest").text("Send Friend Request");
        });
      });

      $("#acceptRequest").click(function() {
        console.log(this.id);      
        console.log("accept request");
        $.post("/request", {action:"accept", id: id, ldap: ldp1}).done(function( data ) {
            $("#acceptRequest").attr("id", "unfriend");
            $("#unfriend").text("Unfriend");
            $("#rejectRequest").remove();
        });
      });

      $("#rejectRequest").click(function() {
        console.log(this.id);      
        console.log("reject request");
        $.post("/request", {action:"reject", id: id, ldap: ldp1}).done(function( data ) {
            $("#acceptRequest").attr("id", "sendRequest");
            $("#rejectRequest").remove();
            $("#sendRequest").text("Send Friend Request");
        });
      });

      $("#sendRequest").click(function() {
        console.log(this.id);      
        console.log("send request");
        $.post("/request", {action:"create", ldap: ldp1}).done(function( data ) {
            $("#sendRequest").attr("id", "deleteRequest");
            $("#deleteRequest").text("Delete Sent Request");
        });
      });

      $("#prediction").submit(function() {
          console.log("This");
          console.log(sal);
          console.log("That");
          if($("#salary").val()>sal*10){
              alert("Are you high? Try something else.");
              return false;
          } 
          if($("#salary").val()<sal/2.5){
              alert("Do yo do cheap durgs? Try something else.");
              return false;
          }
          return true;
      });