extends layout
block content

  if user.ldap == userp.ldap
    p= user.profile.first_name
    p Your own profile

  else  
    if friends
      button#unfriend Already Friends. Unfriend? 
    else
      if requestSent=='pending'
        button#deleteRequest Freind Request Sent. Delete?        
      if requestSent=='rejected'
        button#sendRequest Send Friend Request
      else
        if requestReceived
          button#acceptRequest Respond Accept
          button#rejectRequest Respond Reject
        else
          button#sendRequest Send Friend Request        
    p= userp.profile.first_name
    
    if !predicted
      .col-sm-8.col-sm-offset-2
        form#prediction(method='POST')
          legend Predict Salary
          input(type='hidden', name='_csrf', value=_csrf)
          .form-group
            label(for='salary') Salary in INR/year
            input.form-control(type='number', name='salary', id='salary', autofocus, required)
          .form-group
            button.btn.btn-primary.btn-reset(type='submit')
              i.fa.fa-keyboard-o
              | Predict
    else
      p="Income of "+userp.profile.first_name+" will be INR " + Math.round(salaryCheck) + " after graduation"
  script.
    const ldp1 = !{JSON.stringify(userp.ldap).replace(/<\//g, '<\\/')};
    const sal = !{JSON.stringify(salaryCheck).replace(/<\//g, '<\\/')};
    const id = !{JSON.stringify(requestReceived).replace(/<\//g, '<\\/')};

    $("#unfriend").click(function() {
      console.log(this.id);
      $.post("/request", {action:"unfriend" , ldap: ldp1}).done(function( data ) {
          $("#unfriend").attr("id", "sendRequest");
          $("#sendRequest").text("Send Friend Request");
      });
    });

    $("#deleteRequest").click(function() {
      console.log(this.id);      
      console.log("delete request");
      $.post("/request", {action:"delete" , ldap: ldp1}).done(function( data ) {
          $("#deleteRequest").attr("id", "sendRequest");
          $("#sendRequest").text("Send Friend Request");
      });
    });

    $("#acceptRequest").click(function() {
      console.log(this.id);      
      console.log("accept request");
      $.post("/request", {action:"accept", id: id, ldap: ldp1}).done(function( data ) {
          $("#acceptRequest").attr("id", "unfriend");
          $("#unfriend").text("Unfriend");
          $("#rejectRequest").remove();
      });
    });

    $("#rejectRequest").click(function() {
      console.log(this.id);      
      console.log("reject request");
      $.post("/request", {action:"reject", id: id, ldap: ldp1}).done(function( data ) {
          $("#acceptRequest").attr("id", "sendRequest");
          $("#rejectRequest").remove();
          $("#sendRequest").text("Send Friend Request");
      });
    });

    $("#sendRequest").click(function() {
      console.log(this.id);      
      console.log("send request");
      $.post("/request", {action:"create", ldap: ldp1}).done(function( data ) {
          $("#sendRequest").attr("id", "deleteRequest");
          $("#deleteRequest").text("Delete Sent Request");
      });
    });

    $("#prediction").submit(function() {
        console.log("This");
        console.log(sal);
        console.log("That");
        if($("#salary").val()>sal*2.5){
            alert("Are you high? Try something else.");
            return false;
        } 
        if($("#salary").val()<sal/2.5){
            alert("Do yo do cheap durgs? Try something else.");
            return false;
        }
        return true;
    });
