extends layout

block content
  link(rel='stylesheet', href='/css/bootstrap-select.min.css')
  script(src='/js/lib/bootstrap-select.min.js')
  .container.profile
    .row.profile
        .col-lg-4.col-sm-12.profile-img
            .card.profile
                //img.profile(src='/images/profile/'+userp.ldap+'.png')
                img.profile(src='/account/picture/'+userp.ldap)
                if predicted
                    p.salary-shown='₹ '+salary+' '
                      span.unit lakh/yr
                      if user.ldap != userp.ldap
                        form#prediction(method='POST')
                            input(type='hidden', name='_csrf', value=_csrf)
                            input(type='hidden', name='mid', value=userp.mid)
                            input(type='hidden', name='repredict', value="true")                        
                            input.salary.profile(type='number', maxlength='4', step="0.01", name='salary', placeholder='Lakh INR/yr', id='salary', autofocus, required)
                            p
                                input.submit-salary(type='submit', value='REPREDICT')
                else
                    form#prediction(method='POST')
                        input(type='hidden', name='_csrf', value=_csrf)
                        input(type='hidden', name='mid', value=userp.mid)
                        input(type='hidden', name='repredict', value=false)                                                
                        .input-icon
                            i ₹
                            input.salary.profile(type='number', maxlength='4', step="0.01", name='salary', id='salary', placeholder='Lakh INR/yr' ,autofocus, required)
                        p
                            input.submit-salary(type='submit', value='PREDICT')
        .col-lg-4.col-sm-12.profile.col-info
            .card.profile-info
                p.profile.name.info-title
                    strong=userp.first_name+" "+userp.last_name
                p.profile.known=userp.known
                if userp.profile.program && userp.profile.program.degree && userp.profile.program.department_name
                    p.profile.department=userp.profile.program.degree+" "+userp.profile.program.department_name+" "+userp.profile.program.join_year
                if userp.hostel && user.room
                    p.profile.hostel="Hostel "+userp.hostel+" | Room "+userp.room
                else
                    if userp.hostel
                        p.profile.hostel="Hostel "+userp.hostel
                    else
                        if userp.profile.insti_address && userp.profile.insti_address.hostel_name
                            p.profile.hostel=userp.profile.insti_address.hostel_name+ (userp.profile.insti_address.room ? " | Room "+userp.profile.insti_address.room : '')
                
                p.profile.hobbies=userp.hobbies ? userp.hobbies.toLowerCase():undefined
                p.profile.skills=userp.skills ? userp.skills.toLowerCase():undefined
                p.profile.from=userp.from ? userp.from.toLowerCase():undefined
                if userp.contact && userp.email
                    p.profile.email=userp.contact.toLowerCase()+' | '+userp.email.toLowerCase()
                else
                    if userp.contact
                        p.profile.email=userp.contact.toLowerCase()
                    if userp.email
                        p.profile.email=userp.contact.toLowerCase()
                if userp.looking
                    p.profile.looking="Looking for "+userp.looking.toLowerCase()
                div(style='margin: 20px 0;')
                    if userp.google
                        a.profile(href='https://plus.google.com/'+userp.google)
                            i.fa.fa-google-plus
                    if userp.facebook
                        a.profile(href='https://www.facebook.com/'+userp.facebook)
                            i.fa.fa-facebook
                    if userp.twitter
                        a.profile(href='https://twitter.com/'+userp.twitter)
                            i.fa.fa-twitter
                    if userp.linkedin
                        a.profile(href=userp.linkedin)
                            i.fa.fa-linkedin
                    if userp.instagram
                        a.profile(href='https://www.instagram.com/'+userp.instagram+'/')
                            i.fa.fa-instagram
                    if userp.snapchat
                        a.profile
                            i.fa.fa-snapchat-ghost=userp.snapchat
                p.circles-link
                    a(href='/circle?id='+user._id) Circle
        .col-lg-3.col-sm-12.profile-relationship
            .card.relationship.col-relationship
                .card.title 
                    p.relationship-tag Relationship
                .card.content
                    if userp.ldap==user.ldap
                        p.relationship#rel-display='You'
                    else
                        p.relationship#rel-display=relationship
                        div.collapse.relationship-update#relationship    
                            form#rel(action='/request', method='post')
                                input(type='hidden', name='ldap', value=userp.ldap)
                                .relationship-picker
                                    select.selectpicker(data-live-search='true', multiple, name='relationship')
                                        optgroup(label="Prefix", data-max-options="2")
                                            option Ex
                                            option Best
                                        optgroup(label="Relationship", data-max-options="3") 
                                            option Roommate
                                            option Wingmate
                                            option Hostelmate
                                            option Friend                                    
                                            option Girlfriend
                                            option Boyfriend
                                            option Crush
                                            option Classmate
                                            option Batchmate
                                            option Teammate

                            p &nbsp;
                        p
                            button.profile#update(data-toggle="collapse",data-target="#relationship",state='update') UPDATE
                    
                           
                    
    script.
      $('#rel').on('submit', function(e) {
        e.preventDefault();
        $.post("/request", $(this).serialize()).done(function( data ) {
            $('#rel-display').text(data);
            console.log(data);
        });
      });

      $("#update").click(function() {
        if($(this).attr("state")=='update'){
            $(this).text("SAVE");
            $(this).attr("state", 'save');
            return 0;
        }
        if($(this).attr("state")=='save'){
            $('#rel').submit();
            $(this).text("UPDATE");
            $(this).attr("state", 'update');
            return 0;
        }
      });