extends layout
block content

  if user.ldap == userp.ldap
    p= user.profile.first_name
    p Your own profile

  else  
    if friends
      p Friends
    else
      if requestSent
        p Request Sent
      else
        button#sendfr(sent='false') Send Friend Request
    
    p= userp.profile.first_name
    
    if !predicted
      .col-sm-8.col-sm-offset-2
        form#prediction(method='POST')
          legend Predict Salary
          input(type='hidden', name='_csrf', value=_csrf)
          .form-group
            label(for='salary') Salary in INR/year
            input.form-control(type='number', name='salary', id='salary', autofocus, required)
          .form-group
            button.btn.btn-primary.btn-reset(type='submit')
              i.fa.fa-keyboard-o
              | Predict
    else
      p="Income of "+userp.profile.first_name+" will be INR " + Math.round(salaryCheck) + " after graduation"
  script.
    const ldp1 = !{JSON.stringify(userp.ldap).replace(/<\//g, '<\\/')};
    const ldp2 = !{JSON.stringify(user.ldap).replace(/<\//g, '<\\/')};
    const ldp2_name = !{JSON.stringify(user.profile.username).replace(/<\//g, '<\\/')};
    const sal = !{JSON.stringify(salaryCheck).replace(/<\//g, '<\\/')};

    $("#sendfr").click(function() {
        if($("#sendfr").attr("sent")=='false'){
            console.log("clicked");
            $.post("/request", {action:"create" ,ldap1: ldp1, ldap2: ldp2, name:ldp2_name}).done(function( data ) {
                $("#sendfr").attr("sent", 'true');
                $("#sendfr").text("Friend Request Sent");
            });
        } else {
            console.log("clicked else");
            $.post("/reuest", {action:"delete" , ldap1: ldp1, ldap2: ldp2 }).done(function( data ) {
                $("#sendfr").attr("sent", 'false');
                $("#sendfr").text("Send Friend Request");
            });
        } 
    });

    $("#prediction").submit(function() {
        console.log("This");
        console.log(sal);
        console.log("That");
        if($("#salary").val()>sal*2.5){
            alert("Are you high? Try something else.");
            return false;
        } 
        if($("#salary").val()<sal/2.5){
            alert("Do yo do cheap durgs? Try something else.");
            return false;
        }
        return true;
    });
